name: test gh actions
on: push

jobs:
  test_caching:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache Node.js modules
        id: cache-nodejs-modules
        uses: actions/cache@v4 # not used in dkt -> check others
        with:
          path: ./node_modules
          key: ${{ runner.os }}-npm-bruno-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-bruno-
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: install dependencies
        run: npm ci
      - name: run
        run: ./bin/run.js
      - name: import openapi collection to bruno
        run: npx bru import openapi --source no-description-openapi-import-mre.json --output-file collection-output.json --collection-name "My API"
      - name: log collection md5 hash
        run: sudo dpkg -i md5 && sudo apt-get -f install && md5 collection-output.json
      - name: output-cache-miss
        if: steps.cache-nodejs-modules.outputs.cache-hit != 'true'
        run: echo "cache missed!"
      - name: output-cache-hit
        if: steps.cache-nodejs-modules.outputs.cache-hit == 'true'
        run: echo "cache hit!"
