name: test gh actions
on:
  push:
    branches:
      - main
env:
  env_var: ${{ vars.TEST_REPO_VARIABLE }}

jobs:
  test_caching:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache Node.js modules
        id: cache-nodejs-modules
        uses: actions/cache@v4 # not used in dkt -> check others
        with:
          path: ./node_modules
          key: ${{ runner.os }}-npm-bruno-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-bruno-
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: install dependencies
        run: npm i
      - name: run
        run: ./bin/run.js
      - name: import openapi collection to bruno
        run: npx bru import openapi --source no-description-openapi-import-mre.json --output-file collection-output.json --collection-name "My API"
      - name: log and store collection md5 hash
        run: |
          new_hash="$(md5sum collection-output.json)"
          echo "new_hash=${new_hash}" >> "$GITHUB_OUTPUT"
      - name: output-cache-miss
        if: steps.cache-nodejs-modules.outputs.cache-hit != 'true'
        run: echo "cache missed!"
      - name: output-cache-hit
        if: steps.cache-nodejs-modules.outputs.cache-hit == 'true'
        run: echo "cache hit!"
      - name: echo variable
        run: echo "variable is -> $env_var"

  assert_if_should_generate:
    runs-on: ubuntu-latest
    needs: test_caching
    steps:
      - name: read hash
        id: read-hash
        uses: actions/cache@v4
        with:
          path: ./bruno-collection-openapi-hash.txt
          key: ${{ runner.os }}-bruno-openapi-hash-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-bruno-openapi-hash-
      - name: output-cache-miss
        if: steps.read-hash.outputs.cache-hit != 'true'
        run: echo "cache missed!"
      - name: output-cache-hit
        if: steps.read-hash.outputs.cache-hit == 'true'
        run: |
          echo "cache hit!"
          # create new file hash if empty
          touch ./bruno-collection-openapi-hash.txt
      - name: compare hashes
        run: previous=md5sum ./bruno-collection-openapi-hash.txt
          new="${{needs.test-caching.output.new_hash}}"
          echo "previous $(previous)"
          echo "new $(new)"
