name: test gh action working
on:
  push:
    branches:
      - main

# Steps:
# - generate the collection in openapi format (using utoipa)
# - hash it (-> new_hash)
# - retrieve the previous hash (-> prev_hash)
# - compare the two:
#   - if they differ, run the second job:
#     - generate the bruno collection
#     - push to the Bruno repo

# issues:
# - if the cache was removed yet the collection is the same, this approach would re-generate the bruno collection

# convention chosen:
# snake_case for inter-job outputs
# CAPITAL_SNAKE_CASE for intra-job outputs

jobs:
  detect-changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      should_generate: ${{ steps.output-should-generate.outputs.should_generate }}
      NEW_HASH: ${{ steps.compute-hash.outputs.NEW_HASH }}
    steps:
      - uses: actions/checkout@v4
      - name: Generate openapi collection
        run: echo "generating..."
        # we simulate this with the collection-openapi.json file
        # we will use cargo run -p <...> later on
      - name: Hash collection
        id: compute-hash
        run: |
          echo "hashing..."
          # the 'print $1' with awk is used because the md5sum command outputs: <HASH> <FILE_NAME>
          new_hash="$(md5sum collection-openapi.json | awk '{ print $1 }')" 
          echo "$new_hash"
          echo "NEW_HASH=${new_hash}" >> "$GITHUB_ENV"
          echo "NEW_HASH=${new_hash}" >> "$GITHUB_OUTPUT"
      - name: Cache previous hash
        id: cache-previous-hash
        uses: actions/cache@v4
        with:
          path: ./collection-hash.txt
          key: ${{ runner.os }}-openapi-hash-${{ steps.compute-hash.outputs.NEW_HASH }}
          restore-keys: |
            ${{ runner.os }}-openapi-hash-
          lookup-only: true
      - name: Retrieve previous hash
        run: |
          echo "retrieving..."
          # Add collection hash if there was a cache miss
          touch ./collection-hash.txt
          prev_hash="$(md5sum ./collection-hash.txt | awk '{ print $1 }')" 
          echo "PREV_HASH=${prev_hash}" >> "$GITHUB_ENV"
          echo "$NEW_HASH" > ./collection-hash.txt
      # - name: Generate Prime Numbers
      #   if: steps.cache-previous-hash.outputs.cache-hit != 'true'
      #   run: echo "cache missed"
      - name: Output should generate
        id: output-should-generate
        run: |
          echo "comparing..."
          if [[ ${{ steps.cache-previous-hash.outputs.cache-hit }} != 'true' ]]; then
            should_generate='false'
          else
            should_generate='true'
          fi
          echo "should_generate=$should_generate" >> "$GITHUB_OUTPUT"

  generate-bruno-collection:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.should_generate == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Generate Bruno collection
        run: echo "generating..."
      - name: Push to Bruno repository
        run: echo "updating bruno repo..."
